#signature-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  letter-spacing: 2px;

  /* background-color: #181818; */
  width: max-content;
  margin: 0 auto;
  padding: 14px 20px;
  /* border: 1.6px solid rgb(255, 255, 255); */
}

#signature-heart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin: 0 2px;
}

.signature-text {
  font-size: 16px;
  font-weight: 500;
}

.signature-text .link {
  color: #23c4ff;
  text-decoration: none;
  font-weight: 600;
}

#signature {
  height: 36px;
  margin-top: 8px;
  margin-right: 20px;
}
